#
# Addons to RTAI
#

config RTAI_CPLUSPLUS
	bool "In-kernel C++ support"
	default n
	help
	RTAI offers a C++ framework if you want to develop C++ real-time
	applications.
	The module will be called rtai_cpp.o.
