#
# Documentation
#

config RTAI_DOX_DOC
	bool "Build RTAI Doxygen documentation (HTML)"
	default n
	help
	This option causes the Doxygen-based RTAI documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly. You will need
	the Doxygen toolsuite for regenerating the documentation.

config RTAI_DOC_LATEX_NONSTOP
	bool "Enable LaTeX verbose output"
	default n
	help
	By default, all documentation generated with LaTeX uses the
	silent (batchmode) of LaTeX. If this option is enabled, the
	verbose (nonstopmode) of LaTeX will be used instead. This
	option is mainly intended for people writing RTAI
	documentation.

config RTAI_DBX_DOC
	bool "Build DocBook XML documentation (HTML/PDF)"
	default n
	help
	This option causes the DocBook XML based RTAI documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly.

config RTAI_DBX_NET
	bool "Let the DocBook XML tools use network"
	depends on RTAI_DBX_DOC
	default n
	help
	Let the DocBook tools use internet to fetch the DTD and XSL stylesheets.
	If disabled, the documentation generation will fail if the necessary
	DTD(s) and XSL stylesheets can not be found on the local computer.

config RTAI_DBX_ROOT
	string "Docbook XML root"
	depends on RTAI_DBX_DOC
	default ""
	help
	Specify the DocBook XML root (that is, the directory where docbook.dtd
	should be taken). Leave blank to let configure try the "well-known"
	locations.

config RTAI_DBX_XSL_ROOT
	string "Docbook XML XSL stylesheet root"
	depends on RTAI_DBX_DOC
	default ""
	help
	Specify the DocBook XML XSL root. Leave blank to let configure try the
	"well-known" locations.

config RTAI_GUIDE
	bool "Build RTAI guide"
	default n
	help
	This option causes the Pandoc-based RTAI guide to be built.
	The guide is not completed yet and its output format not decided.
	You will need the Pandoc toolsuite for regenerating the guide.
