#
# Addons to RTAI
#

config RTAI_COMEDI_LXRT
	bool "Real Time COMEDI support in user space"
	default n
	help
	RTAI offers a unified COMEDI interface to kernel/user space real-time
	applications. A kernel module will be built and a library will be
	provided. The kernel modules is called rtai_comedi.o and must be
	loaded if you want to use the libkcomedilxrt.a library.

config RTAI_COMEDI_DIR
	depends on RTAI_COMEDI_LXRT
	string "COMEDI installation directory"
	default "/usr/local"
	help
	Since COMEDI support for data acquisition to build your
	applications, such as for RTAILab, has been chosen, you 
	must set the path to your COMEDI installation directory 
	here. Notice that RTAI support for COMEDI is based on 
	the comedi.git repository found at "www.comedi.org". 
	RTAI requires also comedilib.h found in the comedilib.git 
	repository at the sime site.

config RTAI_USE_COMEDI_LOCK
	depends on RTAI_COMEDI_LXRT
	bool "Use COMEDI lock by default"
	default "n"
	help
	You may need the COMEDI lock for data acquisition when sharing a
	board among many users. You can lock/unlock explicitly any
	operation by calling comedi_lock/unlock yourself. By setting this
	parameter all functions needing a lock for a safe shared use are
	lock/unlocked by default. It can be useful to save a couple of
	calls to enforce locking from user space. Little is gained with it
	in kernel space.
